body {
    background-color: #121212;
    color: #e0e0e0;
}

frame {
    background-color: #121212;
    color: #e0e0e0;
    border: none;
}

a {
    color: #bb86fc;
}

a:visited {
    color: #bb86fc;
}

a:hover {
    color: #3700b3;
}
